# Configuration file

~CONFIG_VERSION: 1.2.0

General {
    # Adjust this value to change the default brightness of the Night Vision effect. Setting this to 0 will effectively disable it. [range: 0.0 ~ 1.0, default: 1.0]
    S:Brightness=1.0

    # If TRUE, Night Vision brightness will gradually fade over a number of ticks instead of abruptly stopping. [default: true]
    B:FadeOutEffect=true

    # If the fade out option is enabled (TRUE), adjust this value to change the duration of the fade. [range: 10 ~ 200, default: 20]
    I:FadeOutTicks=20
}


