# Configuration file

blacklists {
    # a blacklist for blocks which flux connections shouldn't connect to, use format 'modid:name'
    S:"Block Connection Blacklist" <
        actuallyadditions:block_phantom_energyface
     >

    # a blacklist for items which the Flux Controller shouldn't transfer to, use format 'modid:name'
    S:"Item Transfer Blacklist" <
     >
}


energy {
    #  [range: 0 ~ 2147483647, default: 256000]
    I:"Basic Storage Capacity"=256000

    #  [range: 0 ~ 2147483647, default: 6400]
    I:"Basic Storage Transfer"=6400

    # the default transfer limit of a flux connection [range: 0.0 ~ 9.223372E18, default: 256000.0]
    S:"Default Transfer Limit"=256000.0

    #  [range: 0 ~ 2147483647, default: 128000000]
    I:"Gargantuan Storage Capacity"=128000000

    #  [range: 0 ~ 2147483647, default: 256000]
    I:"Gargantuan Storage Transfer"=256000

    # the multiplier god mod - for how much energy is transfer compared to normal rate [range: 1 ~ 16, default: 10]
    I:"God Mode Multiplier"=10

    #  [range: 0 ~ 2147483647, default: 12800000]
    I:"Herculean Storage Capacity"=12800000

    #  [range: 0 ~ 2147483647, default: 12800]
    I:"Herculean Storage Transfer"=12800

    # the multiplier for hyper mode - for how much energy is transfer compared to normal rate [range: 1 ~ 16, default: 4]
    I:"Hyper Mode Multiplier"=4
}


##########################################################################################################
# energy types
#--------------------------------------------------------------------------------------------------------#
# 'Convert' - if conversion is allowed when 'allow conversion' is toggled for the network
# 'Override' - for overriding the 'allow conversion' toggle (this should be used for energy types which should be treated as equal, RF/FE/TESLA)
# 
##########################################################################################################

"energy types" {
    D:"Applied Energistics"=0.5
    B:"Applied Energistics Transfer: Blocks"=true
    B:"Applied Energistics Transfer: Items"=true
    D:"Energy Units"=0.25
    B:"Energy Units Transfer: Blocks"=true
    B:"Energy Units Transfer: Items"=true
    D:"Forge Energy"=1.0
    B:"Forge Energy Transfer: Blocks"=true
    B:"Forge Energy Transfer: Items"=true
    D:"Minecraft Joules"=2.5
    B:"Minecraft Joules Transfer: Blocks"=true
    B:"Minecraft Joules Transfer: Items"=true
    D:"Redstone Flux"=1.0
    B:"Redstone Flux Transfer: Blocks"=true
    B:"Redstone Flux Transfer: Items"=true
    D:Tesla=1.0
    B:"Tesla Transfer: Blocks"=true
    B:"Tesla Transfer: Items"=true
}


"energy types: applied energistics [ae]" {
    B:"Convert: AE to EU"=true
    B:"Convert: AE to FE"=true
    B:"Convert: AE to J"=true
    B:"Convert: AE to RF"=true
    B:"Convert: AE to T"=true
    B:"Override: AE to EU"=false
    B:"Override: AE to FE"=false
    B:"Override: AE to J"=false
    B:"Override: AE to RF"=false
    B:"Override: AE to T"=false
}


"energy types: energy units [eu]" {
    B:"Convert: EU to AE"=true
    B:"Convert: EU to FE"=true
    B:"Convert: EU to J"=true
    B:"Convert: EU to RF"=true
    B:"Convert: EU to T"=true
    B:"Override: EU to AE"=false
    B:"Override: EU to FE"=false
    B:"Override: EU to J"=false
    B:"Override: EU to RF"=false
    B:"Override: EU to T"=false
}


"energy types: forge energy [fe]" {
    B:"Convert: FE to AE"=true
    B:"Convert: FE to EU"=true
    B:"Convert: FE to J"=true
    B:"Convert: FE to RF"=true
    B:"Convert: FE to T"=true
    B:"Override: FE to AE"=false
    B:"Override: FE to EU"=false
    B:"Override: FE to J"=false
    B:"Override: FE to RF"=true
    B:"Override: FE to T"=true
}


"energy types: minecraft joules [j]" {
    B:"Convert: J to AE"=true
    B:"Convert: J to EU"=true
    B:"Convert: J to FE"=true
    B:"Convert: J to RF"=true
    B:"Convert: J to T"=true
    B:"Override: J to AE"=false
    B:"Override: J to EU"=false
    B:"Override: J to FE"=false
    B:"Override: J to RF"=false
    B:"Override: J to T"=false
}


"energy types: redstone flux [rf]" {
    B:"Convert: RF to AE"=true
    B:"Convert: RF to EU"=true
    B:"Convert: RF to FE"=true
    B:"Convert: RF to J"=true
    B:"Convert: RF to T"=true
    B:"Override: RF to AE"=false
    B:"Override: RF to EU"=false
    B:"Override: RF to FE"=true
    B:"Override: RF to J"=false
    B:"Override: RF to T"=true
}


"energy types: tesla [t]" {
    B:"Convert: T to AE"=true
    B:"Convert: T to EU"=true
    B:"Convert: T to FE"=true
    B:"Convert: T to J"=true
    B:"Convert: T to RF"=true
    B:"Override: T to AE"=false
    B:"Override: T to EU"=false
    B:"Override: T to FE"=true
    B:"Override: T to J"=false
    B:"Override: T to RF"=true
}


flux_recipe {
    # the chance of a drop occurring (random, but roughly every 50 blocks) [range: 1 ~ 5000, default: 50]
    I:"Chance of Flux Drop (from Redstone Ore)"=50

    # enables Redstone being turned into Flux when dropped in fire [default: true]
    B:"Disables Flux Recipe (from fire)"=true

    # enables Redstone Ore to drop Flux with normal redstone drops [default: true]
    B:"Enable Flux Drop (from Redstone Ore)"=true

    # the maximum Flux dropped from Redstone Ore if a drop occurs [range: 1 ~ 64, default: 16]
    I:"Maximum Flux Drop (from Redstone Ore)"=16

    # the minimum Flux dropped from Redstone ore if a drop occurs [range: 1 ~ 64, default: 4]
    I:"Minimum Flux Drop (from Redstone Ore)"=4
}


networks {
    # -1 = no limit [range: -1 ~ 2147483647, default: -1]
    I:"Maximum Networks Per Player"=-1
}


settings {
    # prevents the use of God Mode [default: false]
    B:"Ban God Mode"=false

    # prevents the use of Hyper Mode [default: false]
    B:"Ban Hyper Mode"=false
}


