# Configuration file

##########################################################################################################
# changer
#--------------------------------------------------------------------------------------------------------#
# This section allows you to change attributes of items. Each "change" takes 1 line with the following format:
# property;item;value
# 
# property: The property you want to change. Allowed properties: ARMOR_PROTECTION, ARMOR_TOUGHNESS, ATTACK_DAMAGE, ATTACK_SPEED, DURABILITY, EFFICIENCY, ENCHANTABILITY, HARVEST_LEVEL, STACKSIZE
# item: The id of the item. This is usually the mod id (or "minecraft" for vanilla) followed by a colon followed by the item name. e.g. minecraft:iron_sword
# value: The new value for the property.
# 
# Keep in mind that changing the enchantability or harvest level affects the whole tool material, which means that you technically only need to change it for one tool.
# Unfortunately this also means that changing those attributes for one item also applies the change to every item with the same tool material (example below).
# Also, you can't change the attack speed of swords at the moment. Sorry!
# 
# Examples:
# 
# ATTACK_DAMAGE;minecraft:iron_axe;12
# (Increases the attack damage of every iron axe to 12)
# 
# DURABILITY;minecraft:diamond_sword;500
# DURABILITY;minecraft:diamond_pickaxe;500
# DURABILITY;minecraft:diamond_axe;500
# DURABILITY;minecraft:diamond_shovel;500
# DURABILITY;minecraft:diamond_hoe;500
# (Decreases the durability of every vanilla diamond tool to 500)
# 
# DURABILITY;minecraft:flint_and_steel;-1
# (Makes flint and steel unbreakable)
# 
# STACKSIZE;minecraft:snowball;64
# (Increases the stacksize of snowballs to 64)
# 
# HARVEST_LEVEL;minecraft:diamond_pickaxe;0
# (Decreases the harvest level of diamond pickaxes to 0. They can't even mine iron ore now)
# 
# ARMOR_PROTECTION;minecraft:leather_helmet;3
# ARMOR_PROTECTION;minecraft:leather_chestplate;8
# ARMOR_PROTECTION;minecraft:leather_leggings;6
# ARMOR_PROTECTION;minecraft:leather_boots;3
# ARMOR_TOUGHNESS;minecraft:leather_helmet;2
# ARMOR_TOUGHNESS;minecraft:leather_chestplate;2
# ARMOR_TOUGHNESS;minecraft:leather_leggings;2
# ARMOR_TOUGHNESS;minecraft:leather_boots;2
# (Makes leather armor as protective as diamond armor)
# 
# ARMOR_PROTECTION;minecraft:golden_helmet;2
# ARMOR_PROTECTION;minecraft:golden_chestplate;6
# ARMOR_PROTECTION;minecraft:golden_leggings;5
# ARMOR_PROTECTION;minecraft:golden_boots;2
# ARMOR_TOUGHNESS;minecraft:golden_helmet;3
# ARMOR_TOUGHNESS;minecraft:golden_chestplate;3
# ARMOR_TOUGHNESS;minecraft:golden_leggings;3
# ARMOR_TOUGHNESS;minecraft:golden_boots;3
# ATTACK_DAMAGE;minecraft:golden_sword;6.5
# ATTACK_DAMAGE;minecraft:golden_pickaxe;4.5
# ATTACK_DAMAGE;minecraft:golden_axe;9
# ATTACK_DAMAGE;minecraft:golden_shovel;5
# ATTACK_SPEED;minecraft:golden_axe;0.95
# ATTACK_SPEED;minecraft:golden_hoe;3.5
# DURABILITY;minecraft:golden_helmet;212
# DURABILITY;minecraft:golden_chestplate;308
# DURABILITY;minecraft:golden_leggings;289
# DURABILITY;minecraft:golden_boots;250
# DURABILITY;minecraft:golden_sword;420
# DURABILITY;minecraft:golden_pickaxe;420
# DURABILITY;minecraft:golden_axe;420
# DURABILITY;minecraft:golden_shovel;420
# DURABILITY;minecraft:golden_hoe;420
# EFFICIENCY;minecraft:golden_pickaxe;7
# EFFICIENCY;minecraft:golden_axe;7
# EFFICIENCY;minecraft:golden_shovel;7
# HARVEST_LEVEL;minecraft:golden_pickaxe;2
# ENCHANTABILITY;minecraft:golden_pickaxe;16
# ENCHANTABILITY;minecraft:golden_helmet;19
# (Better Gold: Changes golden tools, swords and armor properties completley. As you can see, I only changed the enchantability for one tool and one armor item since it affects the whole gold material)
##########################################################################################################

changer {
    #  [default: ]
    S:changer <
     >
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
}


