# Configuration file

compat {
    # Immersive Engineering Garden Cloche Compat [default: true]
    B:IMMERSIVE_CLOCHE=true
}


##########################################################################################################
# custom seeds
#--------------------------------------------------------------------------------------------------------#
# Here you can create your own seeds. It generates for you the Seed, Essence, Crop and Mob Chunk.
# For making the recipes you'll need to use CraftTweaker!
# - Syntax: name;tier;color;crux;entity
# - 'name' should be lower case with underscores for spaces.
# - 'tier' should be 1, 2, 3, 4, 5 or 6.
# - 'color' the color of the seed as a hex value. http://htmlcolorcodes.com/
# - 'crux' can be any block, leave this as null if you don't want to use crux
# Example: minecraft:diamond_block
# - 'entity' can be any entity, leave this as null if you don't want mob chunks
# Example: minecraft:pig
# 
# Example for Cake Seeds:
# cake;2;724C1B;null;null
##########################################################################################################

"custom seeds" {
    S:CUSTOM_SEED_LIST <
        cake;2;724C1B;null;null
        witch;4;2E0365;null;minecraft:witch
     >
}


