"_VERSION"=1
general {
    # Maximum achievable levels. If set to 0 or lower there is no upper limit
    maximumLevels=-1
    # Reduces the amount of modifiers a newly build tool gets if the value is lower than the regular amount of modifiers the tool would have
    newToolMinModifiers=3
}
toolxp {
    # Base XP for each of the listed tools
    baseXpForTool {
        "exnihilocreatio:crook_tconstruct"=500
        "exnihilocreatio:hammer_tconstruct"=500
        "plustic:katana"=500
        "plustic:laser_gun"=500
        "tcomplement:chisel"=500
        "tcomplement:sledge_hammer"=500
        "tconstruct:arrow"=500
        "tconstruct:battlesign"=500
        "tconstruct:bolt"=500
        "tconstruct:broadsword"=500
        "tconstruct:cleaver"=500
        "tconstruct:crossbow"=500
        "tconstruct:excavator"=4500
        "tconstruct:frypan"=500
        "tconstruct:hammer"=4500
        "tconstruct:hatchet"=500
        "tconstruct:kama"=500
        "tconstruct:longbow"=500
        "tconstruct:longsword"=500
        "tconstruct:lumberaxe"=4500
        "tconstruct:mattock"=500
        "tconstruct:pickaxe"=500
        "tconstruct:rapier"=500
        "tconstruct:scythe"=4500
        "tconstruct:shortbow"=500
        "tconstruct:shovel"=500
        "tconstruct:shuriken"=500
    }
    # Base XP used when no more specific entry is present for the tool
    defaultBaseXP=500
    # How much the XP cost will multiply per level, minimum 2.
    levelMultiplier=2
}
