# Configuration file

##########################################################################################################
# miscelleaneous
#--------------------------------------------------------------------------------------------------------#
# Some miscelleaneous but useful tweaks.
##########################################################################################################

miscelleaneous {
    # Here you can remove any material by adding its id to this list [default: [paper]]
    S:"Remove Materials" <
        paper
     >

    # Here you can remove any modifier by adding its id to this list [default: [mending_moss]]
    S:"Remove Modifiers" <
        mending_moss
     >

    # Turning this option on will stop tinkers tools from being invincible (they can despawn and burn in lava) [default: true]
    B:"Tool Uninvincibility"=true

    # The syntax is: ModID:ItemID:MaterialCost
    # ModID: The mod id of the toolpart.
    # ItemID: The id of the toolpart.
    # MaterialCost: The amount of ingots the toolpart should cost. [default: [tconstruct:pick_head:3], [tconstruct:axe_head:3], [tconstruct:pan_head:4]]
    S:"Toolpart Cost" <
        tconstruct:pick_head:3
        tconstruct:axe_head:3
        tconstruct:pan_head:4
     >
}


##########################################################################################################
# stat tweaks
#--------------------------------------------------------------------------------------------------------#
# Tweaks to material stats
##########################################################################################################

"stat tweaks" {
    # All defense and toughness values will be modified with this percentage.
    # Set to 100 to disable. [range: 0 ~ 1000, default: 75]
    I:"Armor Nerf"=75

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:CoreDurability:Defense:Modifier:PlatesDurability:Toughness:ExtraDurability
    # Set any value to d to keep it as the default value. [default: [iron:12.0:15.0:0.85:5.0:0.0:3.5]]
    S:"Armory Stat Tweaks" <
        iron:12.0:15.0:0.85:5.0:0.0:3.5
     >

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:Modifier:BonusAmmo
    # Set any value to d to keep it as the default value. [default: [wood:1.0:0]]
    S:"Arrow Shaft Stat Tweaks" <
        wood:1.0:0
     >

    # All attack damage values will be modified with this percentage.
    # Set to 100 to disable. [range: 0 ~ 1000, default: 75]
    I:"Attackdamage Nerf"=75

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:Modifier
    # Set any value to d to keep it as the default value. [default: [string:1.0]]
    S:"Bowstring Stat Tweaks" <
        string:1.0
     >

    # All durability values will be modified with this percentage.
    # Set to 100 to disable. [range: 0 ~ 1000, default: 75]
    I:"Durability Nerf"=75

    # Set this to true to fill the stat tweaks list below with all the default values for all materials
    # This option disables itself after filling the list and it will also delete any tweaks you already had. [default: false]
    B:"Fill Defaults"=false

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:Accuracy:Modifier
    # Set any value to d to keep it as the default value. [default: [feather:1.0:1.0]]
    S:"Fletching Stat Tweaks" <
        feather:1.0:1.0
     >

    # negative durability values are decreased further instead of increased when durabilitynerf is below 100, does the opposite for values above 100 [default: true]
    B:"Hardcore Nerfs"=true

    # All mining speed values will be modified with this percentage.
    # These options can also be used to buff stats, but just.... don't. [range: 0 ~ 1000, default: 75]
    I:"Miningspeed Nerf"=75

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:HeadDurability:MiningSpeed:AttackDamage:HarvestLevel:HandleModifier:HandleDurability:ExtraDurability:DrawSpeed:Range:BonusDamage
    # Set any value to d to keep it as the default value. [default: [stone:90:3.0:3:1:0.5:-87:15:5.0:0.4:-1.0]]
    S:"Stat Tweaks" <
        stone:90:3.0:3:1:0.5:-87:15:5.0:0.4:-1.0
     >
}


##########################################################################################################
# trait tweaks
#--------------------------------------------------------------------------------------------------------#
# Tweaks related to material traits.
##########################################################################################################

"trait tweaks" {
    # Here you can change the traits of materials for certain parts or all parts.
    # The syntax is: MaterialID:Parts:Trait1,Trait2,etc.
    # To keep all existing traits add ":false" at the end [default: [paper:all:tasty], [paper:head:cheap], [paper:handle:autosmelt], [paper:extra:holy,hellish], [paper:bow:coldblooded], [paper:bowstring:crude], [paper:projectile:dense], [paper:shaft:heavy], [paper:fletching:alien]]
    S:"Trait tweaks" <
        paper:all:tasty
        paper:head:cheap
        paper:handle:autosmelt
        paper:extra:holy,hellish
        paper:bow:coldblooded
        paper:bowstring:crude
        paper:projectile:dense
        paper:shaft:heavy
        paper:fletching:alien
     >
}


