[submodule "Enigmatica2Expert-Extended.wiki"]
	path = Enigmatica2Expert-Extended.wiki
	url = https://github.com/Krutoy242/Enigmatica2Expert-Extended.wiki.git
[submodule "mc-tools"]
	path = mc-tools
	url = https://github.com/Krutoy242/mc-tools.git
