[submodule "Enigmatica2Expert-Extended.wiki"]
	path = Enigmatica2Expert-Extended.wiki
	url = https://github.com/Krutoy242/Enigmatica2Expert-Extended.wiki.git
[submodule "mc-tools"]
	path = mc-tools
	url = https://github.com/Krutoy242/mc-tools.git
[submodule "scripts/lib/D"]
	path = scripts/lib/D
	url = https://github.com/Krutoy242/D.zs.git
[submodule "scripts/craft"]
	path = scripts/craft
	url = https://github.com/Krutoy242/Craft.zs.git
