# Exclude files and directories in top directory
/**

# Whitelist
!scripts/
!config/
!resources/
!schematics/
!minemenu/
!.gitignore

# Files created by luncher
config/splash.properties

# Client Configs
config/creativecore-client.json
config/InvTweaks.cfg
config/chiselsandbits_clipboard.cfg
config/MouseTweaks.cfg

config/jei/worldSettings.cfg
config/jei/lookupHistory.zip
config/jei/bookmarks.ini

config/BlockDrops/modVersions.txt

config/InvTweaks/InvTweaks.cfg

config/scavenge/IResourceProperty.txt

config/AppliedEnergistics2/aerecipes/
config/AppliedEnergistics2/recipes/
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/CustomRecipes.cfg

config/brandon3055/ResourceCache/
config/brandon3055/ProjectIntelligence/ModDocs/
config/BlockDrops/blockdrops.txt

config/armoryexpansion/traits.txt

config/cd4017be/compiled.dat
