# Folders to ignore
/journeymap/
/dumps/
/crash-reports/
/.mixin.out/
/logs/
/local/
/libraries/
/llibrary/
/saves/
/TombManyGraves/
/screenshots/
/mods/
/world/

# Utilities
.github_changelog_generator
github_changelog_generator.gemspec
twitch_export-win.exe
ChangelogGenerator.bat
.build.json
modpack_upload_settings.cfg
ModpackUploadTool.bat

# Client Configs
config/InvTweaks.cfg
config/MouseTweaks.cfg
config/jei/worldSettings.cfg
config/jei/lookupHistory.zip
config/jei/bookmarks.ini
zs_export.json
.curseclient
.ReAuth.cfg
usernamecache.json
usercache.json
knownkeys.txt
servers.dat
realms_persistence.json
WailaErrorOutput.txt
ItemDump.txt
BotaniaVars.dat
options.txt
README.md
crafttweaker.log
github_changelog_generator.gemspec
ChangelogGenerator.bat
twitch_export-win.exe
crafttweaker.log
config/BlockDrops/modVersions.txt
config/InvTweaks/InvTweaks.cfg
config/scavenge/IResourceProperty.txt
dropt.log
journeymapdefaults.firstrun
*.zip
astralsorcery/gatewayFilter/worldFilter.dat
OpenComputersMod-1.7.3.146-lua53-native.64.dll
OpenComputersMod-1.7.3.146-lua52-native.64.dll
ModpackFileId.json
LICENSE.md
manifest.json
config/AppliedEnergistics2/aerecipes/
config/AppliedEnergistics2/recipes/
valkyrielib/cache/supporters.json
discordsuite/win32-x86-64/discord-rpc.dll
discordsuite/version
ServerFileGenerator.bat
config/brandon3055/ResourceCache/
whitelist.json
ops.json
minecraft_server.1.12.2.jar
installer.log
forge-1.12.2-14.23.5.2781-universal.jar
forge-1.12.2-14.23.5.2781-installer.jar
eula.txt
banned-players.json
banned-ips.json
ChangelogGenerator.jar

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
config/brandon3055/ProjectIntelligence/ModDocs/
patchouli_data.json
oldmanifest.json
config/AppliedEnergistics2/items.csv
OpenComputersMod-1.7.4.153-lua53-native.64.dll
OpenComputersMod-1.7.4.153-lua52-native.64.dll
