# Exclude files and directories in top directory
/*

# Whitelist
!scripts/
!config/
!resources/
!schematics/
!minemenu/
!resourcepacks/
!dev/
!server/
![!]Relese.bat
!TODO.md
!README.md
!MODS.md
!CHANGELOG.md
!changelogs/
!.gitattributes
!minecraftinstance.json
!patchouli_books/
!structures/
structures/inactive
!options.txt
!optionsof.txt
!manifest.json

# Files created by luncher
config/creativecore-client.json
config/InvTweaks.cfg
config/MouseTweaks.cfg

config/jei/worldSettings.cfg
config/jei/lookupHistory.zip
config/jei/bookmarks.ini

config/InvTweaks/InvTweaks.cfg
config/scavenge/IResourceProperty.txt
config/codechicken/supporters.json

config/AppliedEnergistics2/aerecipes/
config/AppliedEnergistics2/recipes/
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/CustomRecipes.cfg

config/brandon3055/ResourceCache/

config/armoryexpansion/traits.txt

config/cd4017be/compiled.dat
config/brandon3055/contributors.json
config/thaumicjei_itemstack_aspects.json
config/brandon3055/ProjectIntelligence/
config/tool_progression/blocks.cfg
config/tool_progression/materials.cfg
config/tool_progression/tools.cfg
scripts/.zsrc
config/BiomeTweaker/output/
*/Patchouli/garbage

config/tellme/*

resources/mechanics/blockstates
resources/mechanics/models
!resources/mechanics/lang

dev/lang/tmp
dev/automation/**/~*
dev/default_configs/default_config_outdated
config/JustEnoughCalculation/data/groups.json
config/activity.json
config/customloadingscreen_timings.nbt

config/enderio/recipes/*.pdf
config/enderio/recipes/**/*.xsd
config/enderio/recipes/examples/*
