# Configuration file

##########################################################################################################
# compat
#--------------------------------------------------------------------------------------------------------#
# Mod compatibility configuration
##########################################################################################################

compat {
    # Set this to false, to leave CoFHCore alone. [default: true]
    B:cofh=true

    # Set this to true to enable the built-in WAILA plugin. [default: true]
    B:enabled=true

    # Set this to false, to leave GameStages alone. [default: true]
    B:gamestages=true

    # Set this to true to always show harvestability. [default: false]
    B:show_harvestable=false

    # Set this to false, to disable the overwrite of the diamond and emerald modifier. [default: true]
    B:tconstruct=true

    # Set this to false, to leave TheOneProbe alone. [default: true]
    B:top=true
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General configuration
##########################################################################################################

general {
    # Set this to true to generate the initial config on game init. (This generates the blocks.cfg, tools.cfg, and materials.cfg file. [default: false]
    B:generate_configs=false

    # Set this to true, if not harvestable blocks shall not be broken at all. [default: false]
    B:prevent_block_destruction=false
}


tooltip {
    # Set this to true if you like to get extended tooltips. [default: true]
    B:enabled=true
}


