# Configuration file

general {
    # Set to false to allow non-Aether ores to be acquirable from Aether using Industrial Foregoing laser drill
    B:"Blacklist laser drill Aether biome for non-Aether ores"=true

    # Set to false to completely disable integration with FutureMC
    B:"Enable FutureMC integration"=true

    # Set to false to completely disable integration with Dungeon Tactics
    B:"Enable Hatchery integration"=true

    # Set to false to completely disable integration with Industrial Foregoing
    B:"Enable Industrial Foregoing integration"=true

    # Set to false to completely disable integration with JER
    B:"Enable JER integration"=true

    # Set to false to completely disable integration with Thermal Expansion
    B:"Enable Thermal Expansion integration"=true
}


