# Configuration file

general {
    # Set to false to completely disable integration with Botania
    B:"Enable Botania integration"=true

    # Set to false to completely disable integration with Chisel
    B:"Enable Chisel integration"=true

    # Set to false to completely disable integration with FutureMC
    B:"Enable FutureMC integration"=true

    # Set to false to completely disable integration with Hatchery
    B:"Enable Hatchery integration"=true

    # Set to false to completely disable integration with Industrial Foregoing
    B:"Enable Industrial Foregoing integration"=true

    # Set to false to completely disable new Biomes O' Plenty additions
    B:"Enable Natura additions"=true

    # Set to false to completely disable integration with Thermal Expansion
    B:"Enable Thermal Expansion integration"=true

    # Set to false to completely disable integration with XU2
    B:"Enable XU2 integration"=true
}


