# Configuration file

general {
    # Set to false to completely disable integration with Hatchery
    B:"Enable Hatchery integration"=true

    # Set to false to completely disable integration with Thermal Expansion
    B:"Enable Thermal Expansion integration"=true
}


