# Configuration file

general {
    # Set to false to completely disable integration with Chisel
    B:"Enable Chisel integration"=true

    # Set to false to completely disable integration with FutureMC
    B:"Enable FutureMC integration"=true

    # Set to false to completely disable integration with Dungeon Tactics
    B:"Enable Hatchery integration"=true

    # Set to false to completely disable new Ice and Fire additions
    B:"Enable Ice and Fire additions"=true

    # Set to false to completely disable integration with Industrial Foregoing
    B:"Enable Industrial Foregoing integration"=true

    # Set to false to completely disable integration with JER
    B:"Enable JER integration"=true

    # Set to false to completely disable integration with Thermal Expansion
    B:"Enable Thermal Expansion integration"=true

    # Set to false to completely disable integration with Tinker's Construct
    B:"Enable Tinker's Construct integration"=true

    # Set to false to completely disable integration with XU2
    B:"Enable XU2 integration"=true
}


