# Configuration file

general {
    # If enabled, all supported mods that allow for enchanted book crafting will have ancient tomes recipes added
    B:"Add ancient tome crafting in supported mods"=true

    # If enabled, items from supported mods will be automatically added as enchanted book tooltips
    B:"Add enchanted book item tooltips for supported mods"=true

    # If enabled, all enchantments from supported mods will be automatically added as ancient tomes
    B:"Add supported ancient tomes"=true

    # Set to false to completely disable integration with Chisel
    B:"Enable Chisel integration"=true

    # Set to false to completely disable integration with FutureMC
    B:"Enable FutureMC integration"=true

    # Set to false to completely disable integration with Dungeon Tactics
    B:"Enable Hatchery integration"=true

    # Set to false to completely disable integration with Industrial Foregoing
    B:"Enable Industrial Foregoing integration"=true

    # Set to false to completely disable integration with JER
    B:"Enable JER integration"=true

    # Set to false to completely disable new Quark additions
    B:"Enable Quark additions"=true

    # Set to false to completely disable integration with Thermal Expansion
    B:"Enable Thermal Expansion integration"=true

    # Set to false to completely disable integration with Tinker's Construct
    B:"Enable Tinker's Construct integration"=true

    # Set to false to completely disable integration with XU2
    B:"Enable XU2 integration"=true

    # Set to false to prevent other mods from integrating with Quark
    B:"Enable external integrations"=true
}


