# Configuration file

general {
    # Set to false to completely disable integration with Chisel
    B:"Enable Chisel integration"=true

    # Set to false to completely disable integration with FutureMC
    B:"Enable FutureMC integration"=true

    # Set to false to completely disable integration with Dungeon Tactics
    B:"Enable Hatchery integration"=true

    # Set to false to completely disable integration with TConstruct
    B:"Enable JER integration"=true

    # Set to false to completely disable integration with Thermal Expansion
    B:"Enable Thermal Expansion integration"=true

    # Set to false to completely disable new Tinker's Construct additions
    B:"Enable Tinker's Construct additions"=true

    # Set to false to completely disable integration with TConstruct
    B:"Enable XU2 integration"=true

    # Set to false to prevent other mods from integrating with TConstruct
    B:"Enable external integrations"=true
}


