# Configuration file

general {
    # Set to false to completely disable integration with Chisel
    B:"Enable Chisel integration"=true

    # Set to false to completely disable new Extra Utilities 2 additions
    B:"Enable Extra Utilities 2 additions"=true

    # Set to false to completely disable integration with FutureMC
    B:"Enable FutureMC integration"=true

    # Set to false to completely disable integration with Hatchery
    B:"Enable Hatchery integration"=true

    # Set to false to completely disable integration with JER
    B:"Enable JER integration"=true

    # Set to false to completely disable integration with Quark
    B:"Enable Quark integration"=true

    # Set to false to completely disable integration with Thermal Expansion
    B:"Enable Thermal Expansion integration"=true

    # Set to false to prevent other mods from integrating with XU2
    B:"Enable external integrations"=true

    # Set to false to prevent the completely legitimate trades from appearing in JER
    B:"Register shady merchant trades in JER"=true
}


