# Configuration file

general {
    B:countNewRecipeAdvancements=true

    # If enabled, shows the normal screenshot taken (same as F2) message when a screenshot is taken after an advancement.
    B:showScreenshotTakenMessage=false
}


