# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
     >
    S:"Mod Aliases" <
        botanicaladdons=botania
        thermaldynamics=thermalexpansion
        rftoolsdim=rftools
     >
    S:"Whitelisted Items" <
        opencomputers:tool:4
        immersiveengineering:tool:3
		iceandfire:bestiary
     >
    S:"Whitelisted Names" <
        book
        tome
        lexicon
        nomicon
        manual
        knowledge
        pedia
        compendium
        guide
		journal
     >
}


