# Configuration file

general {
    # Whether the Building / CopyPaste Gadget can overwrite blocks like water, lava, grass, etc (like a player can).
    # False will only allow it to overwrite air blocks.
    B:"Allow non-Air-Block-Overwrite"=true

    # Determines if the Copy/Paste GUI's coordinate mode starts in 'Absolute' mode by default.
    # Set to true for Absolute, set to False for Relative.
    B:"Default to absolute Coord-Mode"=false

    # Set to false to disable the recipe for construction paste.
    B:"Enable Construction Paste"=true

    # Set to false to disable the Destruction Gadget.
    B:"Enable Destruction Gadget"=true

    # Defines how far away you can build
    # Min: 1.0
    # Max: 48.0
    D:"Max Build Distance"=32.0

    # Set to true for Forge Energy Support, set to False for vanilla Item Damage
    B:"Powered by Forge Energy"=true

    ##########################################################################################################
    # blacklist settings
    #--------------------------------------------------------------------------------------------------------#
    # Configure your Blacklist-Settings here
    ##########################################################################################################

    "blacklist settings" {
        # All Blocks added to this will be treated similar to TileEntities. Not at all.
        # Notice that you can use Regular Expressions as defined by Java Patterns to express more complex name combinations.
        # Use for example "awfulmod:.*" to blacklist all awfulmod Blocks.
        S:"Blacklisted Blocks" <
            minecraft:wooden_door
            minecraft:birch_door
            minecraft:acacia_door
            minecraft:dark_oak_door
            minecraft:iron_door
            minecraft:jungle_door
            minecraft:spruce_door
            minecraft:piston_head
         >
    }

    ##########################################################################################################
    # gadgets
    #--------------------------------------------------------------------------------------------------------#
    # Configure the Gadgets here
    ##########################################################################################################

    gadgets {
        # The max energy of Building, Exchanging & Copy-Paste Gadget
        # Min: 0
        # Max: 2147483647
        I:"Maximum Energy"=1000000

        # The max range of the Gadgets
        # Min: 1
        # Max: 25
        I:"Maximum allowed Range"=15

        ##########################################################################################################
        # building gadget
        #--------------------------------------------------------------------------------------------------------#
        # Energy Cost & Durability of the Building Gadget
        ##########################################################################################################

        "building gadget" {
            # The max durability of the Builder (Ignored if powered by FE)
            # Min: 0
            # Max: 100000
            I:Durability=500

            # The energy cost of the Builder per block
            # Min: 0
            # Max: 100000
            I:"Energy Cost"=100
        }

        ##########################################################################################################
        # exchanging gadget
        #--------------------------------------------------------------------------------------------------------#
        # Energy Cost & Durability of the Exchanging Gadget
        ##########################################################################################################

        "exchanging gadget" {
            # The max durability of the Exchanger (Ignored if powered by FE)
            # Min: 0
            # Max: 100000
            I:Durability=500

            # The energy cost of the Exchanger per block
            # Min: 0
            # Max: 100000
            I:"Energy Cost"=500
        }

        ##########################################################################################################
        # destruction gadget
        #--------------------------------------------------------------------------------------------------------#
        # Energy Cost, Durability & Maximum Energy of the Destruction Gadget
        ##########################################################################################################

        "destruction gadget" {
            # The max durability of the Destruction Gadget (Ignored if powered by FE)
            # Min: 0
            # Max: 100000
            I:Durability=500

            # The energy cost of the Destruction Gadget per block
            # Min: 0
            # Max: 100000
            I:"Energy Cost"=200

            # The max energy of the Destruction Gadget
            # Min: 0
            # Max: 2147483647
            I:"Maximum Energy"=1000000
        }

        ##########################################################################################################
        # copy-paste gadget
        #--------------------------------------------------------------------------------------------------------#
        # Energy Cost & Durability of the Copy-Paste Gadget
        ##########################################################################################################

        "copy-paste gadget" {
            # The max durability of the Copy & Paste Gadget (Ignored if powered by FE)
            # Min: 0
            # Max: 100000
            I:Durability=500

            # The Energy Use of the Copy Paste Gadget
            # Min: 0
            # Max: 100000
            I:"Energy Cost"=50
        }

    }

}


