# Configuration file

general {
    # Whether to enable the mod list.
    # Disabling it stops Cleanroom from redirecting Forge's mod list calls.
    B:enable=true

    # The list of mod ids that should always use the default item icon.
    # They will not have random-picked item icons to avoid crashes.
    S:forceDefaultIconList <
     >

    # The list of ignored dependencies' mod ids.
    # They will not be displayed when searching for dependencies/dependants.
    S:ignoredDependenciesList <
        minecraft
        forge
        FML
        mcp
        cleanroom
     >

    # The list of library mods' mod ids.
    # They will have grey names in the mod list.
    S:libraryList <
        forge
        FML
        mcp
        cleanroom
        cleanmix
        configanytime
        mixinbooter
        fugue
        scalar
        kirino_ecs
        kirino_engine
        kirino_gl
     >
}


