# Configuration file

general {
    # The base capacity, in millibuckets (mB), of a basic storage tank (without a capacity downgrade).
    # Min: 1
    # Max: 2147483647
    I:baseCapacity=32000

    # The base capacity, in millibuckets (mB), of a basic storage tank with a capacity downgrade installed.
    # Min: 1
    # Max: 2147483647
    I:baseCapacityDowngraded=1000
}


