# Configuration file

general {
    # MAC OS-only - identifier used to save and restore the window position and size
    S:COCOA_FRAME_NAME=minecraft
    B:COCOA_RETINA_FRAMEBUFFER=false
    S:CONFIG_ANY_TIME_VERSION=3.0
    B:CUSTOM_BUILT_IN_MOD_VERSION=false
    B:DECORATED=true

    # Disable the Fugue/Scalar coremod presence check at startup.
    # When enabled, the patch mod check is skipped and always returns true.
    # When disabled, checks whether Fugue (https://www.curseforge.com/minecraft/mc-mods/fugue)
    # and Scalar (https://www.curseforge.com/minecraft/mc-mods/scalar-legacy) are present.
    # Only disable this if you know what you are doing!
    B:DISABLE_PATCH_MOD_CHECK=false

    # Enable this when you want to run the game on Wayland (WARNING: GLFW's wayland support is buggy)
    B:FORCE_WAYLAND=false

    # MAC OS & Wayland - Specifies whether the framebuffer should be resized based on content scale changes.
    B:GLFW_SCALE_FRAMEBUFFER=true

    # Allows AltGr use in Ctrl+key special key combinations (disables text character input handling when AltGr is pressed)
    B:INPUT_ALTGR_ESCAPE_CODES=false

    # Allow text character input when Ctrl+Left Alt are pressed (disables special escape code handling for this combination of keys)
    B:INPUT_CTRL_ALT_TEXT=false
    B:INPUT_INVERT_WHEEL=false
    D:INPUT_SCROLL_SPEED=1.0

    # Mods in this list have one or more of the problems list below:
    # - Integrated into Cleanroom so shouldn't load it from mods
    # - Too invasive or hacky that it is unpatchable
    # - Have a better replacement that compats e.g. JEID vs REID
    # 
    S:LOADING_PLUGIN_BLACKLIST <
        com.cleanroommc.configanytime.ConfigAnytimePlugin
        zone.rong.mixinbooter.MixinBooterPlugin
        ilib.asm.Loader
        org.dimdev.jeid.JEIDLoadingPlugin
        lain.mods.skins.init.forge.asm.Plugin
        advancedshader.core.Core
        net.shadowfacts.forgelin.preloader.ForgelinPlugin
        com.cleanroommc.relauncher.CleanroomEntrypoint
     >
    S:MIXIN_BOOTER_VERSION=10.7
    B:OPENGL_COMPAT_PROFILE=true

    # Enable GL_KHR_no_error to use faster driver code, but which can cause memory corruption in case of OpenGL errors
    B:OPENGL_CONTEXT_NO_ERROR=false

    # Enable KHR_debug in the OpenGL context for advanced debugging capabilities
    B:OPENGL_DEBUG_CONTEXT=false

    # Make the framebuffer double-buffered (will cause visual artifacts if disabled)
    B:OPENGL_DOUBLEBUFFER=true

    # Make the framebuffer use the sRGB color space
    B:OPENGL_SRGB_CONTEXT=false
    I:OPENGL_VERSION_MAJOR=4
    I:OPENGL_VERSION_MINOR=6
    B:RAW_INPUT=true

    # Should exclusive fullscreen mode replaced with borderless fullscreen mode
    B:WINDOW_BORDERLESS_REPLACES_FULLSCREEN=false

    # Windows-only - should borderless window have height increased by 1 to solve flickering on un-focusing
    B:WINDOW_BORDERLESS_WINDOWS_COMPATIBILITY=true
    B:WINDOW_CENTERED=true

    # Should the window have decorations (titlebar, border, close button)
    B:WINDOW_DECORATED=true
    B:WINDOW_START_FOCUSED=true
    B:WINDOW_START_ICONIFIED=false
    B:WINDOW_START_MAXIMIZED=false

    # Linux-only - change the X11 class name, which is used by your window manager to identify the running application
    S:X11_CLASS_NAME=minecraft

    openal_context {
        # Enable HRTF sound support
        B:ENABLE_HRTF=false
    }

    modern_windows_styles {
        # Window border color [RGB hex in int]
        I:BORDER_COLOR=0

        # Window caption color [RGB hex in int]
        I:CAPTION_COLOR=0

        # Disable flash after loaded
        B:DISABLE_FLASH_AFTER_LOADED=false

        # Hide window border
        B:HIDE_WINDOW_BORDER=false

        # Backdrop type [0:auto 1:none 2:mica 3:acrylic 4:tabbed]
        I:SYSTEM_BACKDROP_TYPE=0

        # Window text color [RGB hex in int]
        I:TEXT_COLOR=0

        # Use cleanroom embed loading progressbar handling
        B:UPDATE_WINDOWS_TASKBAR_PROGRESS=true

        # Use default corner
        B:USE_DEFAULT_BORDER=true

        # Use default caption color
        B:USE_DEFAULT_CAPTION=true

        # Use default text color
        B:USE_DEFAULT_TEXT=true

        # Enable immersive dark mode, it will follow windows theme settings
        B:USE_IMMERSIVE_DARK_MODE=true

        # Window corner type [0:default 1:do_not_round 2:round 3:round_small]
        I:WINDOW_CORNER=0
    }

}


