# Configuration file

client {
    # Should Hammer Core replace enchantment glint color with more matching colors for some vanilla items? [default: true]
    B:"Custom Enchantment Colors for Vanilla Items"=true

    # Should Hammer Core portforward your local world when you share with it to LAN?
    # This feature doesn't work on all clients, you are going to get a message in chat if it was successful/unsuccessful [default: true]
    B:"LAN UPnP"=true

    # Replace vanilla furnace and brewing stand progress bars to use smooth rendering? [default: true]
    B:"Smooth Vanilla Guis"=true
}


"hammer core" {
    # Should Hammer Core register connected blocks? [default: true]
    B:"Register Connected Blocks"=true
}


iwrench {
    # What is the color when the hovered block is wrenchable? (color encoded in hex form such as RRGGBB)
    S:Green=22FF22

    # What is the color when the hovered block is NOT wrenchable? (color encoded in hex form such as RRGGBB)
    S:Red=FF2222
}


"vanilla improvements" {
    # Should Hammer Core force-spawn Ender Dragon Egg on Ender Dragon death? [default: true]
    B:"Always Spawn Dragon Egg"=true
}


