# Configuration file

general {
    B:debugDisplay=false
    B:enabled=true
}


ui_background {
    B:uiBackground=true

    vanilla {
        B:anvil=false
        B:beacon=false
        B:brewing=false
        B:chest=false
        B:crafting=false
        B:creative=false
        B:dispenser=false
        B:enchantment=false
        B:furnace=false
        B:hopper=false
        B:inventory=false
        B:shulker=false
        B:villager=false
    }

    seenscreens {
        B:cofh.thermalexpansion.gui.client.storage.GuiSatchel=true
        B:journeymap.client.ui.fullscreen.Fullscreen=true
        B:lumien.custommainmenu.gui.GuiCustom=true
    }

}


ui_movement {
    B:jumpInInventories=true
    B:moveInInventories=true
    B:sneakInInventories=false
    B:textFieldDisablesMovement=true

    vanilla {
        B:anvil=true
        B:beacon=true
        B:brewing=true
        B:chest=true
        B:crafting=true
        B:creative=true
        B:dispenser=true
        B:enchantment=true
        B:furnace=true
        B:hopper=true
        B:inventory=true
        B:shulker=true
        B:villager=true
    }

    seenscreens {
        B:cofh.thermalexpansion.gui.client.storage.GuiSatchel=true
        B:journeymap.client.ui.fullscreen.Fullscreen=true
    }

}


