# Configuration file

##########################################################################################################
# changer
#--------------------------------------------------------------------------------------------------------#
# This section allows you to change attributes of items. Each "change" takes 1 line with the following format:
# property;item;value
# 
# property: The property you want to change. Allowed properties: ARMOR_PROTECTION, ARMOR_TOUGHNESS, ATTACK_DAMAGE, ATTACK_SPEED, DURABILITY, EFFICIENCY, ENCHANTABILITY, HARVEST_LEVEL, STACKSIZE
# item: The id of the item. This is usually the mod id (or "minecraft" for vanilla) followed by a colon followed by the item name. e.g. minecraft:iron_sword
# value: The new value for the property.
# 
# Keep in mind that changing the enchantability or harvest level affects the whole tool material, which means that you technically only need to change it for one tool.
# Unfortunately this also means that changing those attributes for one item also applies the change to every item with the same tool material (example below).
# Also, you can't change the attack speed of swords at the moment. Sorry!
# 
# Examples:
# 
# ATTACK_DAMAGE;minecraft:iron_axe;12
# (Increases the attack damage of every iron axe to 12)
# 
# DURABILITY;minecraft:diamond_sword;500
# DURABILITY;minecraft:diamond_pickaxe;500
# DURABILITY;minecraft:diamond_axe;500
# DURABILITY;minecraft:diamond_shovel;500
# DURABILITY;minecraft:diamond_hoe;500
# (Decreases the durability of every vanilla diamond tool to 500)
# 
# DURABILITY;minecraft:flint_and_steel;-1
# (Makes flint and steel unbreakable)
# 
# STACKSIZE;minecraft:snowball;64
# (Increases the stacksize of snowballs to 64)
# 
# HARVEST_LEVEL;minecraft:diamond_pickaxe;0
# (Decreases the harvest level of diamond pickaxes to 0. They can't even mine iron ore now)
# 
# ARMOR_PROTECTION;minecraft:leather_helmet;3
# ARMOR_PROTECTION;minecraft:leather_chestplate;8
# ARMOR_PROTECTION;minecraft:leather_leggings;6
# ARMOR_PROTECTION;minecraft:leather_boots;3
# ARMOR_TOUGHNESS;minecraft:leather_helmet;2
# ARMOR_TOUGHNESS;minecraft:leather_chestplate;2
# ARMOR_TOUGHNESS;minecraft:leather_leggings;2
# ARMOR_TOUGHNESS;minecraft:leather_boots;2
# (Makes leather armor as protective as diamond armor)
# 
# ARMOR_PROTECTION;minecraft:golden_helmet;2
# ARMOR_PROTECTION;minecraft:golden_chestplate;6
# ARMOR_PROTECTION;minecraft:golden_leggings;5
# ARMOR_PROTECTION;minecraft:golden_boots;2
# ARMOR_TOUGHNESS;minecraft:golden_helmet;3
# ARMOR_TOUGHNESS;minecraft:golden_chestplate;3
# ARMOR_TOUGHNESS;minecraft:golden_leggings;3
# ARMOR_TOUGHNESS;minecraft:golden_boots;3
# ATTACK_DAMAGE;minecraft:golden_sword;6.5
# ATTACK_DAMAGE;minecraft:golden_pickaxe;4.5
# ATTACK_DAMAGE;minecraft:golden_axe;9
# ATTACK_DAMAGE;minecraft:golden_shovel;5
# ATTACK_SPEED;minecraft:golden_axe;0.95
# ATTACK_SPEED;minecraft:golden_hoe;3.5
# DURABILITY;minecraft:golden_helmet;212
# DURABILITY;minecraft:golden_chestplate;308
# DURABILITY;minecraft:golden_leggings;289
# DURABILITY;minecraft:golden_boots;250
# DURABILITY;minecraft:golden_sword;420
# DURABILITY;minecraft:golden_pickaxe;420
# DURABILITY;minecraft:golden_axe;420
# DURABILITY;minecraft:golden_shovel;420
# DURABILITY;minecraft:golden_hoe;420
# EFFICIENCY;minecraft:golden_pickaxe;7
# EFFICIENCY;minecraft:golden_axe;7
# EFFICIENCY;minecraft:golden_shovel;7
# HARVEST_LEVEL;minecraft:golden_pickaxe;2
# ENCHANTABILITY;minecraft:golden_pickaxe;16
# ENCHANTABILITY;minecraft:golden_helmet;19
# (Better Gold: Changes golden tools, swords and armor properties completley. As you can see, I only changed the enchantability for one tool and one armor item since it affects the whole gold material)
##########################################################################################################

changer {
    #  [default: ]
    S:changer <
        ARMOR_PROTECTION;harvestcraft:hardenedleatherhelmitem;1
        ARMOR_PROTECTION;harvestcraft:hardenedleatherchestitem;4
        ARMOR_PROTECTION;harvestcraft:hardenedleatherleggingsitem;3
        ARMOR_PROTECTION;harvestcraft:hardenedleatherbootsitem;2
        ARMOR_PROTECTION;minecraft:iron_helmet;3
        ARMOR_PROTECTION;minecraft:iron_chestplate;5
        ARMOR_PROTECTION;minecraft:iron_leggings;4
        ARMOR_PROTECTION;minecraft:iron_boots;2
        ARMOR_PROTECTION;minecraft:golden_helmet;3
        ARMOR_PROTECTION;minecraft:golden_chestplate;6
        ARMOR_PROTECTION;minecraft:golden_leggings;4
        ARMOR_PROTECTION;minecraft:golden_boots;3
        ARMOR_TOUGHNESS;minecraft:golden_helmet;1
        ARMOR_TOUGHNESS;minecraft:golden_chestplate;1
        ARMOR_TOUGHNESS;minecraft:golden_leggings;1
        ARMOR_TOUGHNESS;minecraft:golden_boots;1
        ARMOR_PROTECTION;tcomplement:knightslime_helmet;3
        ARMOR_PROTECTION;tcomplement:knightslime_chestplate;8
        ARMOR_PROTECTION;tcomplement:knightslime_leggings;6
        ARMOR_PROTECTION;tcomplement:knightslime_boots;3
        ARMOR_TOUGHNESS;tcomplement:knightslime_helmet;1
        ARMOR_TOUGHNESS;tcomplement:knightslime_chestplate;1
        ARMOR_TOUGHNESS;tcomplement:knightslime_leggings;1
        ARMOR_TOUGHNESS;tcomplement:knightslime_boots;1
        ARMOR_PROTECTION;tcomplement:manyullyn_helmet;4
        ARMOR_PROTECTION;tcomplement:manyullyn_chestplate;10
        ARMOR_PROTECTION;tcomplement:manyullyn_leggings;8
        ARMOR_PROTECTION;tcomplement:manyullyn_boots;4
        ARMOR_TOUGHNESS;tcomplement:manyullyn_helmet;3
        ARMOR_TOUGHNESS;tcomplement:manyullyn_chestplate;3
        ARMOR_TOUGHNESS;tcomplement:manyullyn_leggings;3
        ARMOR_TOUGHNESS;tcomplement:manyullyn_boots;3
        ARMOR_PROTECTION;nuclearcraft:helm_boron_nitride;6
        ARMOR_PROTECTION;nuclearcraft:chest_boron_nitride;12
        ARMOR_PROTECTION;nuclearcraft:legs_boron_nitride;10
        ARMOR_PROTECTION;nuclearcraft:boots_boron_nitride;6
        ARMOR_TOUGHNESS;nuclearcraft:helm_boron_nitride;3
        ARMOR_TOUGHNESS;nuclearcraft:chest_boron_nitride;3
        ARMOR_TOUGHNESS;nuclearcraft:legs_boron_nitride;3
        ARMOR_TOUGHNESS;nuclearcraft:boots_boron_nitride;3
        ARMOR_PROTECTION;mysticalagriculture:supremium_helmet;10
        ARMOR_PROTECTION;mysticalagriculture:supremium_chestplate;16
        ARMOR_PROTECTION;mysticalagriculture:supremium_leggings;14
        ARMOR_PROTECTION;mysticalagriculture:supremium_boots;10
        ARMOR_TOUGHNESS;mysticalagriculture:supremium_helmet;3
        ARMOR_TOUGHNESS;mysticalagriculture:supremium_chestplate;3
        ARMOR_TOUGHNESS;mysticalagriculture:supremium_leggings;3
        ARMOR_TOUGHNESS;mysticalagriculture:supremium_boots;3
        ATTACK_DAMAGE;mysticalagriculture:supremium_sword;30
        ARMOR_PROTECTION;thaumcraft:void_robe_helm;10
        ARMOR_PROTECTION;thaumcraft:void_robe_chest;16
        ARMOR_PROTECTION;thaumcraft:void_robe_legs;14
        ARMOR_PROTECTION;thaumcraft:void_boots;10
        ARMOR_TOUGHNESS;thaumcraft:void_robe_helm;3
        ARMOR_TOUGHNESS;thaumcraft:void_robe_chest;3
        ARMOR_TOUGHNESS;thaumcraft:void_robe_legs;3
        ARMOR_TOUGHNESS;thaumcraft:void_boots;1
        ATTACK_DAMAGE;thaumcraft:crimson_blade;25
        ARMOR_PROTECTION;enderio:item_dark_steel_helmet;5
        ARMOR_PROTECTION;enderio:item_dark_steel_chestplate;15
        ARMOR_PROTECTION;enderio:item_dark_steel_leggings;11
        ARMOR_PROTECTION;enderio:item_dark_steel_boots;5
        ARMOR_TOUGHNESS;enderio:item_dark_steel_helmet;4
        ARMOR_TOUGHNESS;enderio:item_dark_steel_chestplate;4
        ARMOR_TOUGHNESS;enderio:item_dark_steel_leggings;4
        ARMOR_TOUGHNESS;enderio:item_dark_steel_boots;4
        ATTACK_DAMAGE;enderio:item_dark_steel_sword;13
        ARMOR_PROTECTION;enderio:item_end_steel_helmet;6
        ARMOR_PROTECTION;enderio:item_end_steel_chestplate;19
        ARMOR_PROTECTION;enderio:item_end_steel_leggings;14
        ARMOR_PROTECTION;enderio:item_end_steel_boots;6
        ARMOR_TOUGHNESS;enderio:item_end_steel_helmet;5
        ARMOR_TOUGHNESS;enderio:item_end_steel_chestplate;5
        ARMOR_TOUGHNESS;enderio:item_end_steel_leggings;5
        ARMOR_TOUGHNESS;enderio:item_end_steel_boots;5
        ATTACK_DAMAGE;enderio:item_end_steel_sword;16
        ARMOR_PROTECTION;twilightforest:yeti_helmet;4
        ARMOR_PROTECTION;twilightforest:yeti_chestplate;14
        ARMOR_PROTECTION;twilightforest:yeti_leggings;9
        ARMOR_PROTECTION;twilightforest:yeti_boots;4
        ARMOR_TOUGHNESS;twilightforest:yeti_helmet;4
        ARMOR_TOUGHNESS;twilightforest:yeti_chestplate;4
        ARMOR_TOUGHNESS;twilightforest:yeti_leggings;4
        ARMOR_TOUGHNESS;twilightforest:yeti_boots;4
        DURABILITY;bloodmagic:living_armour_helmet;900
        DURABILITY;bloodmagic:living_armour_chest;900
        DURABILITY;bloodmagic:living_armour_leggings;900
        DURABILITY;bloodmagic:living_armour_boots;900
        DURABILITY;bloodmagic:sentient_armour_helmet;1200
        DURABILITY;bloodmagic:sentient_armour_chest;1200
        DURABILITY;bloodmagic:sentient_armour_leggings;1200
        DURABILITY;bloodmagic:sentient_armour_boots;1200
        ATTACK_DAMAGE;thaumcraft:thaumium_axe;11
        ATTACK_DAMAGE;thaumcraft:thaumium_sword;8.5
        ATTACK_DAMAGE;thaumcraft:void_axe;14
        ATTACK_DAMAGE;thaumcraft:void_sword;12
        ATTACK_DAMAGE;thaumcraft:crimson_blade;32
        ATTACK_DAMAGE;extrautils2:lawsword;28
        ATTACK_DAMAGE;extrautils2:fireaxe;36
     >
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
}


