# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
        tconstruct
        intangible
     >
    S:"Mod Aliases" <
        botanicaladdons=botania
        thermaldynamics=thermalfoundation
		thermalexpansion=thermalfoundation
        rftoolsdim=rftools
		rftoolscontrol=rftools
		ae2stuff=appliedenergistics2
     >
    B:"Morph in the offhand instead of mainhand"=false
    S:"Whitelisted Items" <
        botania:twigwand
        appliedenergistics2:network_tool
     >
    S:"Whitelisted Names" <
        wrench
        screwdriver
        hammer
        rotator
     >
}


