# Configuration file

compat {
    S:blacklist <
     >
}


custom {
    # Format: oreDictEntry,modID,Block,damageValue;oreDictEntry,modID,Block,damageValue;etc.
    S:blocks <
     >

    # Format: oreDictEntry,modID,Item,damageValue;oreDictEntry,modID,Item,damageValue;etc.
    S:items <
     >
}


