# Configuration file

blocks {

    fusion_crafter {
        # Should the Fusion Packager Crafter draw energy from ME systems.
        B:draw_me_energy=true

        # How much FE the Fusion Package Crafter should hold.
        I:energy_capacity=5000

        # How much FE/t the Fusion Package Crafter should use.
        I:energy_usage=5
    }

}


