# Configuration file

general {
    # Maximum distance a Ping can be from you and still be received
    D:pingAcceptDistance=64.0

    # How long a Ping should remain active before disappearing
    I:pingDuration=125

    # Whether to play a sound when a Ping is received
    B:sound=true
}


visual {
    # Whether to render the Ping Menu background
    B:backgroundMenu=true

    # Whether to render a colored overlay on the Pinged block
    B:blockOverlay=true

    # Value from 0 - 255
    I:blue=0

    # Value from 0 - 255
    I:green=0

    # Value from 0 - 255
    I:red=255
}


