# Configuration file

general {
    # Whether to display a message telling the player to sneak.
    B:"Enable Sneaking Message"=true

    # Effects from the following mods will be ignored by this mod.
    S:"Ignored mods" <
        extraalchemy
     >

    # If true, potions without descriptions will be listed in the logs.
    B:"Log missing descriptions"=false

    # Whether sneaking is required to display the tooltip.
    B:"Sneaking Required"=true
}


