# Configuration file

general {
    # Tile entities whose bounding boxes won't be cached (Accepts 'modid' or 'modid:tileentity').
    S:tileEntityCachedBoundingBoxBlacklist <
     >

    # Most tile entities have static bounding boxes and thus they can be cached. Tile entities whose bounding boxes are likely to change every frame or so should be added to the blacklist. Tile entities whose bounding only change every once in a while should be covered by cache updates (update speed adjustable through tileEntityCachedBoundingBoxUpdateInterval)
    B:tileEntityCachedBoundingBoxEnabled=true

    # Every frame there is a 1 in x chance to update the cached bounding box. Higher = better performance, Lower = tile entities with dynamic bounding boxes get updated faster.
    # Min: 1
    # Max: 1000000
    I:tileEntityCachedBoundingBoxUpdateInterval=100
}


