# Configuration file

general {
    # An array containing the milestones: How many unique foods you must eat to get the milestone bonus (defined above). Note that this represents the TOTAL number of foods needed; not the foods since the last milestone!
    I:"Milestone amounts" <
        10
        20
        30
        40
        50
		60
		70
		80
		90
		100
		110
		120
		130
		140
		150
		160
		170
		180
		190
		200
		210
		220
		230
		240
		250
		260
		270
		280
		290
		300
		310
		320
		330
		340
		350
		360
		370
		380
		390
		400
		450
		500
		510
		520
		530
		540
		550
		560
		570
		580
		600
     >

    # Number of hearts you spawn with. [range: 1 ~ 30, default: 10]
    I:defaultHeartCount=10

    # Number of hearts you gain per milestone. [range: 1 ~ 30, default: 2]
    I:heartsPerMilestone=1

    # Add tooltips to foods to indicate if they have been eaten? [default: true]
    B:isFoodTooltipEnabled=true

    # Whether to show food progress messages (i.e. when you gain hearts or from /sizefoodlist) above the hotbar rather than in chat [default: true]
    B:shouldShowProgressAboveHotbar=true
}


