# Configuration file

general {
    # If true, trying a new food spawns particles.
    B:"Enable Intermediate Particles"=true

    # If true, reaching a new milestone spawns particles.
    B:"Enable Milestone Particles"=true

    # If true, reaching a new milestone plays a ding sound.
    B:"Enable Milestone Sounds"=true

    # Foods in this list won't affect the player's health nor show up in the food book.
    S:"Food Blacklist" <
        actuallyadditions:item_food:18
        tconstruct:edible:5
        animus:bloodapple
     >

    # When this list contains anything, the blacklist is ignored and instead only foods from here count.
    S:"Food Whitelist" <
     >

    # A list of numbers of unique foods you need to eat to unlock each milestone, in ascending order.
    I:"Milestone amounts" <
        10
        20
        30
        40
        50
        60
        70
        80
        90
        100
        110
        120
        130
        140
        150
        160
        170
        180
        190
        200
        210
        220
        230
        240
        250
        260
        270
        280
        290
        300
        310
        320
        330
        340
        350
        360
        370
        380
        390
        400
        450
        500
        510
        520
        530
        540
        550
        560
        570
        580
        600
        620
        650
        680
        710
        740
        770
        800
        830
        860
        890
        920
        950
        980
        1010
        1040
        1070
        1100
        1130
        1160
        1190
        1220
        1250
        1280
        1310
        1340
        1370
        1400
        1430
        1460
        1490
        1520
        1550
        1580
        1610
        1640
        1670
        1700
     >

    # The minimum hunger value foods need to provide in order to count for milestones, in half drumsticks.
    I:"Minimum Food Value"=1

    # Whether or not to reset the food list on death, effectively losing all bonus hearts.
    B:"Reset on Death"=false

    # If true, the food book also lists foods that you haven't eaten, in addition to the ones you have.
    B:"Show Uneaten Foods"=true

    # Number of hearts you start out with.
    I:defaultHeartCount=10

    # Number of hearts you gain for reaching a new milestone.
    I:heartsPerMilestone=1

    # If true, foods indicate in their tooltips whether or not they have been eaten.
    B:isFoodTooltipEnabled=true

    # Whether the messages notifying you of reaching new milestones should be displayed above the hotbar or in chat.
    B:shouldShowProgressAboveHotbar=true
}


