# Configuration file

general {
    # Whether the path finder debug preview should be enabled.
    B:path_finder_debug_preview=false

    # Whether any spider spawns should be replaced. This also applies retroactively to already existing spiders.
    B:replace_any_spawns=true

    # Whether natural spider spawns should be replaced. This includes e.g. mob spawners and spawn eggs.
    B:replace_natural_spawns=true
}


