# Configuration file

general {
    # Set stage, title and icon index 
    # Example: stageone:Build Master:0
    S:newStageTitles <
        stageone:Build Master:0
     >

    # Set the message when there is no stages
    S:noStagesMessage=No Stages

    # Set title of stages title gui
    S:stageGuiTitle=Game Stages

    # Set the Y offset of stages tab
    I:stageTabYoffset=26
}


