# Configuration file

blocks {
    # How often the cake will restore? The higher the value is, lower the chance of growth. [range: 1 ~ 2147483647, default: 3]
    I:"Cake Restoration Speed"=3
}


client {
    # Should portal seal be see-throught? [default: true]
    B:"Seethrough Portal"=true
}


entities {
    # What entities should not be able to get picked up by Entity Cell?
    # Format: mod:entity
    # Example: minecraft:creeper
    # (Aww man) [default: ]
    S:EntityCellBlacklist <
     >
}


"knowledge tome" {
    # Should the tome of sharing me reusable by multiple players? [default: true]
    B:Reusable=true

    # Should the tome of sharing me rewritable? [default: true]
    B:Rewritable=true
}


