# Configuration file

general {

    ##########################################################################################################
    # essentia container capacity
    #--------------------------------------------------------------------------------------------------------#
    # Specifies how much a item that holds essentia can hold
    # For filling with Essentia Terminal
    # Best to set it to how much the item can actually store
    ##########################################################################################################

    "essentia container capacity" {
        I:"thaumcraft:phial"=10
    }

    "tick rates" {
        I:"Essentia Export Bus Max"=60
        I:"Essentia Export Bus Min"=5
        I:"Essentia Import Bus Max"=40
        I:"Essentia Import Bus Min"=5
        I:"Essentia Storage Bus Max"=60
        I:"Essentia Storage Bus Min"=5
    }

    "client config" {
        S:"Aspect Search Prefix"=#

        # Valid values:
        # ENABLED
        # DISABLED
        # REQUIRE_PREFIX
        S:"Aspect Search Setting"=REQUIRE_PREFIX
        S:"Mod Search Prefix"=@

        # Valid values:
        # ENABLED
        # DISABLED
        # REQUIRE_PREFIX
        S:"Mod Search Setting"=REQUIRE_PREFIX

        # Valid values:
        # TALL
        # FULL
        # SMALL
        S:"Terminal Style"=TALL
    }

}


