# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        e2ee.tips.0
        e2ee.tips.1
        e2ee.tips.2
        e2ee.tips.3
        e2ee.tips.4
        e2ee.tips.5
        e2ee.tips.6
        e2ee.tips.7
        e2ee.tips.8
        e2ee.tips.9
        e2ee.tips.10
        e2ee.tips.11
        e2ee.tips.12
        e2ee.tips.13
        e2ee.tips.14
        e2ee.tips.15
        e2ee.tips.16
        e2ee.tips.17
        e2ee.tips.18
        e2ee.tips.19
        e2ee.tips.20
        e2ee.tips.21
        e2ee.tips.22
        e2ee.tips.23
        e2ee.tips.24
        e2ee.tips.25
        e2ee.tips.26
        e2ee.tips.27
        e2ee.tips.28
        e2ee.tips.29
        e2ee.tips.30
        e2ee.tips.31
        e2ee.tips.32
        e2ee.tips.33
        e2ee.tips.34
        e2ee.tips.35
        e2ee.tips.36
        e2ee.tips.37
        e2ee.tips.38
        e2ee.tips.39
        e2ee.tips.40
        e2ee.tips.41
        e2ee.tips.42
        e2ee.tips.43
        e2ee.tips.44
        e2ee.tips.45
        e2ee.tips.46
        e2ee.tips.47
        e2ee.tips.48
        e2ee.tips.49
        e2ee.tips.50
        e2ee.tips.51
        e2ee.tips.52
        e2ee.tips.53
        e2ee.tips.54
        e2ee.tips.55
        e2ee.tips.56
        e2ee.tips.57
        e2ee.tips.58
        e2ee.tips.59
        e2ee.tips.60
        e2ee.tips.61
        e2ee.tips.62
        e2ee.tips.63
        e2ee.tips.64
        e2ee.tips.65
        e2ee.tips.66
        e2ee.tips.67
        e2ee.tips.68
        e2ee.tips.69
        e2ee.tips.70
        e2ee.tips.71
        e2ee.tips.72
        e2ee.tips.73
        e2ee.tips.74
        e2ee.tips.75
        e2ee.tips.76
        e2ee.tips.77
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=60
}


