# Configuration file

enabled {
    B:"advancedrocketry:planks"=true
    B:"appliedenergistics2:quartz_block"=false
    B:"appliedenergistics2:sky_stone_brick"=false
    B:"astralsorcery:blockblackmarble"=true
    B:"astralsorcery:blockmarble"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=false
    B:"botania:biomestonea"=false
    B:"botania:biomestoneb"=false
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=false
    B:"botania:quartztypedark"=false
    B:"botania:quartztypeelf"=false
    B:"botania:quartztypelavender"=false
    B:"botania:quartztypemana"=false
    B:"botania:quartztypered"=false
    B:"botania:quartztypesunny"=false
    B:"darkutils:pearl_block"=false
    B:"environmentalmaterials:alabaster_bricks"=true
    B:"environmentaltech:aethium"=false
    B:"environmentaltech:erodium"=false
    B:"environmentaltech:ionite"=false
    B:"environmentaltech:kyronite"=false
    B:"environmentaltech:lonsdaleite"=false
    B:"environmentaltech:pladium"=false
    B:"extratrees:planks.0"=true
    B:"extratrees:planks.1"=true
    B:"extratrees:planks.2"=true
    B:"extratrees:planks.fireproof.0"=false
    B:"extratrees:planks.fireproof.1"=false
    B:"extratrees:planks.fireproof.2"=false
    B:"forestry:ash_brick"=false
    B:"forestry:planks.0"=true
    B:"forestry:planks.1"=true
    B:"forestry:planks.fireproof.0"=false
    B:"forestry:planks.fireproof.1"=false
    B:"immersiveengineering:treated_wood"=true
    B:"integrateddynamics:crystalized_chorus_brick"=true
    B:"integrateddynamics:crystalized_menril_brick"=true
    B:"integrateddynamics:menril_planks"=true
    B:"natura:nether_planks"=true
    B:"natura:overworld_planks"=true
    B:"quark:biome_cobblestone"=false
    B:"quark:duskbound_block"=false
    B:"quark:elder_prismarine"=true
    B:"quark:midori_block"=false
    B:"quark:soul_sandstone"=false
    B:"quark:stained_planks"=false
    B:"quark:world_stone_bricks"=true
    B:"roots:runestone_brick"=true
    B:"rustic:painted_wood_black"=false
    B:"rustic:painted_wood_blue"=false
    B:"rustic:painted_wood_brown"=false
    B:"rustic:painted_wood_cyan"=false
    B:"rustic:painted_wood_gray"=false
    B:"rustic:painted_wood_green"=false
    B:"rustic:painted_wood_light_blue"=false
    B:"rustic:painted_wood_lime"=false
    B:"rustic:painted_wood_magenta"=false
    B:"rustic:painted_wood_orange"=false
    B:"rustic:painted_wood_pink"=false
    B:"rustic:painted_wood_purple"=false
    B:"rustic:painted_wood_red"=false
    B:"rustic:painted_wood_silver"=false
    B:"rustic:painted_wood_white"=false
    B:"rustic:painted_wood_yellow"=false
    B:"rustic:planks"=true
    B:"rustic:slate_brick"=true
    B:"sonarcore:reinforcedstonebrick"=true
    B:"thaumcraft:plank_greatwood"=true
    B:"thaumcraft:plank_silverwood"=true
    B:"wizardry:nacre_block_brick"=false
    B:"wizardry:wisdom_wood_planks"=false
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


