# Configuration file

##########################################################################################################
# ai
#--------------------------------------------------------------------------------------------------------#
# Settings regarding custom ai for mobs
##########################################################################################################

ai {
    # List for of pairs containing which mobs auto target others. Syntax is [mob id e.g. minecraft:skeleton]-[mob id or class name e.g. EntityZombie] where the class name is the target [default: ]
    S:"Auto Target List" <
     >

    # Whitelist for blocks, which can be actively broken. Usage: <registry name;classname;oredict> put "!" infront to exclude blocks [default: [minecraft:glass], [minecraft:stained_glass], [minecraft:fence_gate], [BlockDoor], [!minecraft:iron_door], [minecraft:glass_pane], [minecraft:stained_glass_pane]]
    S:"Block Whitelist" <
        minecraft:glass
        minecraft:stained_glass
        minecraft:fence_gate
        BlockDoor
        !minecraft:iron_door
        minecraft:glass_pane
        minecraft:stained_glass_pane
     >

    # Treat Block Whitelist as Blocklist [default: false]
    B:"Block as Blacklist"=false

    # Blacklist for mobs who can't ride a boat [default: ]
    S:"Boat Blacklist" <
     >

    # Treat Boat Blacklist as Whitelist [default: false]
    B:"Boat Whitelist"=false

    # Blacklist for mobs, which can never break blocks [default: [minecraft:creeper]]
    S:"Breaker Blacklist" <
        minecraft:creeper
     >

    # Chance for a mob to be able to break blocks. [range: 0.0 ~ 1.0, default: 0.3]
    S:"Breaker Chance"=0.1

    # Use the AI Blacklist as Whitelist [default: false]
    B:"Breaker Whitelist"=false

    # Item which will be given to mobs who can break blocks. Set to nothing to not give any items. [default: minecraft:diamond_pickaxe]
    S:"Breaking item"=minecraft:diamond_pickaxe

    # Blacklist for usable items given to mobs. (Not weapons but e.g. tnt) [default: ]
    S:"Item Blacklist" <
     >

    # Blacklist for mobs which can't use items [default: ]
    S:"Item Mob-Blacklist" <
     >

    # Treat Item Mob-Blacklist as Whitelist [default: false]
    B:"Item Mob-Whitelist"=false

    # Blacklist for entities which can't climb ladder [default: [minecraft:creeper]]
    S:"Ladder Blacklist" <
        minecraft:creeper
     >

    # Treat Ladder Blacklist as Whitelist [default: false]
    B:"Ladder Whitelist"=false

    # Chance for neutral mobs to be aggressive [range: 0.0 ~ 1.0, default: 0.2]
    S:"Neutral Aggressive Chance"=0.1

    # Use the block breaking sound instead of a knocking sound [default: false]
    B:Sound=false

    # Blacklist for mobs who can't steal from inventory [default: ]
    S:"Steal Blacklist" <
     >

    # Treat Steal Blacklist as Whitelist [default: false]
    B:"Steal Whitelist"=true

    # Should mobs target villagers? RIP Villagers [default: true]
    B:"Villager Target"=true
}


##########################################################################################################
# attributes
#--------------------------------------------------------------------------------------------------------#
# Settings for attribute modifiers
##########################################################################################################

attributes {
    # Blacklist for mobs which should not have their attributes modified [default: ]
    S:"Attribute Blacklist" <
     >

    # Treat Attribute Blacklist as Whitelist [default: false]
    B:"Attribute Whitelist"=false

    # Damage will be multiplied by difficulty*0.008*x. Set to 0 to disable.[default: 1.0]
    D:"Damage Increase Multiplier"=0.5

    # Health will be multiplied by difficulty*0.016*x. Set to 0 to disable.[default: 1.0]
    D:"Health Increase Multiplier"=0.5

    # Knockback will be increased by difficulty*0.002*x. Set to 0 to disable.[default: 1.0]
    D:"Knockback Increase"=0.5

    # Magic resistance will be increased by difficulty*0.0016*x. Set to 0 to disable.[default: 1.0]
    D:"Magic Resistance Increase"=0.01

    # Damage will be multiplied by at maximum this. Set to 0 means no limit. [default: 3.0]
    D:"Max Damage Increase"=300.0

    # Health will be multiplied by at maximum this. Set to 0 means no limit[default: 5.0]
    D:"Max Health Increase"=50.0

    # Maximum increase in knockback. [range: 0.0 ~ 1.0, default: 0.5]
    S:"Max Knockback"=1.0

    # Maximum increase in magic resistance. Magic reduction is percentage [range: 0.0 ~ 1.0, default: 0.4]
    S:"Max Magic Resistance"=0.5

    # Projectile damage will be multiplied by maximum of this.[default: 2.0]
    D:"Max Projectile Damage"=200.0

    # Maximum increase in speed. [range: 0.0 ~ 1.0, default: 0.1]
    S:"Max Speed"=0.4

    # Projectile Damage will be multiplied by 1+difficulty*0.008*x. Set to 0 to disable.[default: 1.0]
    D:"Projectile Damage Increase"=1.0

    # Speed will be increased by difficulty*0.0008*x. Set to 0 to disable.[default: 1.0]
    D:"Speed Increase"=0.5
}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Debugging
##########################################################################################################

debug {
    # Enable showing of entity paths (might/will cause lag) [default: false]
    B:"Path Debugging"=false
}


##########################################################################################################
# equipment
#--------------------------------------------------------------------------------------------------------#
# Configs regarding mobs spawning with equipment
##########################################################################################################

equipment {
    # Base chance for each additional armor pieces [range: 0.0 ~ 1.0, default: 0.3]
    S:"Additional Equipment Chance"=0.0

    # Blacklist for mobs, which shouldn't get armor equiped [default: ]
    S:"Armor Mob-Blacklist" <
     >

    # Use blacklist as whitelist [default: false]
    B:"Armor Mob-Whitelist"=false

    # Adds additional x*difficulty% to base enchanting chance[default: 0.3]
    D:"Enchanting Addition"=0.03

    # Base chance for each armor pieces to get enchanted. [range: 0.0 ~ 1.0, default: 0.2]
    S:"Enchanting Chance"=0.02

    # Adds additional x*difficulty% to base equip chance[default: 0.3]
    D:"Equipment Addition"=0.00

    # Blacklist for mob equipments. Use the modid to add all items from that mod [default: ]
    S:"Equipment Blacklist" <
     >

    # Base chance that a mob can have one piece of armor [range: 0.0 ~ 1.0, default: 0.1]
    S:"Equipment Chance"=0.00

    # Use blacklist as whitelist [default: false]
    B:"Equipment Whitelist"=true

    # Chance for mobs to have an item. Higher priority than weapons [range: 0.0 ~ 1.0, default: 0.05]
    S:"Item Equip Chance"=0.00

    # Should mobs drop the armor equipped through this mod? (Other methods e.g. through vanilla is not included) [default: false]
    B:"Should drop equipment"=false

    # Chance for mobs to have a weapon. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Weapon Chance"=0.00

    # Adds additional x*difficulty% to base weapon chance[default: 0.3]
    D:"Weapon Chance Add"=0.00
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# With default value every difficulty perk maxes out at difficulty 250
##########################################################################################################

general {
    # Disable/Enables the whole difficulty scaling of this mod
    B:"Enable difficulty scaling"=true

    # Disable/Enable friendly fire for owned pets. [default: false]
    B:FriendlyFire=false

    # Light level, blocks can have at max, so mobs can spawn on them. [range: 0 ~ 15, default: 7]
    I:Light=7

    # Mobs to include for the new light spawning rules. [default: ]
    S:"Light list" <
     >

    # Turn the list list whitelist to blacklist [default: false]
    B:"Light list blacklist"=false

    # Blacklist for pet you should't be able to give armor to. Pets from mods, which have custom armor should be included here. [default: ]
    S:"Pet Blacklist" <
     >

    # Treat pet blacklist as whitelist [default: false]
    B:"Pet Whitelist"=false

    # Should punish time skipping with e.g. bed, commands? If false, difficulty will increase by 0.1 regardless of skipped time. [default: true]
    B:"Punish Time Skip"=true
}


##########################################################################################################
# gui
#--------------------------------------------------------------------------------------------------------#
# Gui Configs
##########################################################################################################

gui {
    # Textformatting codes for the display of the difficulty
    # Valid values:
    # BLACK
    # DARK_BLUE
    # DARK_GREEN
    # DARK_AQUA
    # DARK_RED
    # DARK_PURPLE
    # GOLD
    # GRAY
    # DARK_GRAY
    # BLUE
    # GREEN
    # AQUA
    # RED
    # LIGHT_PURPLE
    # YELLOW
    # WHITE
    S:"Difficulty color"=GRAY
    I:"Gui X"=5
    I:"Gui Y"=5
}


##########################################################################################################
# integration
#--------------------------------------------------------------------------------------------------------#
# Settings for mod integration
##########################################################################################################

integration {
    # Should mobs be able to use weapons from the reforged mod. (Requires reforged mod)
    B:"Use Reforged Mod"=true

    # Should the scaling health mods difficulty system be used instead of this ones. (Requires scaling health mod)
    B:"Use Scaling Health Mod"=true

    # Should mobs be able to use techguns weapons. (Requires techguns mod)
    B:"Use Techguns Mod"=true
}


