# Configuration file

general {
    # To disable a tool type, remove it from this list.
    # If new tool types are added to the mod, you may have to regenerate your config file
    # or manually add them to this list to activate them.
    S:ENABLED_TOOL_TYPES <
        artisans_cutters
        artisans_hammer
        artisans_framing_hammer
        artisans_handsaw
        artisans_cutting_board
        artisans_pan
        artisans_beaker
        artisans_burner
        artisans_pencil
        artisans_tsquare
        artisans_driver
        artisans_spanner
        artisans_lens
        artisans_sifter
        artisans_gemcutter
        artisans_pliers
        artisans_athame
        artisans_grimoire
        artisans_chisel
        artisans_trowel
        artisans_carver
        artisans_razor
        artisans_compass
        artisans_quill
        artisans_needle
        artisans_shears
        artisans_punch
        artisans_groover
        artisans_mortar
        artisans_knife
        artisans_hatchet
        artisans_file
        artisans_solderer
     >

    # Set to false to disable all tools.
    # This supersedes all other tool settings.
    B:ENABLE_MODULE=true

    # Set to false to disable tool enchanting.
    B:ENABLE_TOOL_ENCHANTING=true

    # Set to false to prevent creation of ore dict groups for tools by material type, ie. 'toolFlint' or 'toolCopper'.
    B:ENABLE_TOOL_MATERIAL_ORE_DICT_GROUPS=true

    # Set to false to disable all tool recipes.
    B:ENABLE_TOOL_RECIPES=true

    # Set to false to prevent tools from being repaired.
    # Default: true
    B:ENABLE_TOOL_REPAIR=true

    # Set to false to prevent creation of ore dict groups for tools by type, ie. 'artisansHammer' or 'artisansChisel'.
    B:ENABLE_TOOL_TYPE_ORE_DICT_GROUPS=true

    # Change the ore dict prefix for each tool material type group.
    # This is used when generating the tool material .json file.
    # Changing this will have no effect if the 'Custom' tool material file has already been generated.
    # You will need to regenerate the file by deleting it and running the game, or manually change the file.
    S:TOOL_BY_MATERIAL_ORE_DICT_PREFIX=artisansTool

    # Change the ore dict prefix for each tool type group.
    S:TOOL_BY_TYPE_ORE_DICT_PREFIX=artisans

    # Resource location of enchantments to allow on tools.
    S:TOOL_ENCHANTMENT_TABLE_WHITELIST <
        minecraft:unbreaking
        minecraft:mending
     >

    client {
        # Set to false to disable the durability tooltip on tools from this mod.
        B:ENABLE_DURABILITY_TOOLTIP=true
    }

}


